.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url('../assets/registerimage.png'); /* Path to your image */
    background-size: cover; /* Cover the entire background area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the image */
  }
.glass-card {
    width: 40%;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.462); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.284); /* Light border to enhance the glass effect */
    box-shadow: 0 4px 6px rgba(39, 37, 37, 0.1); /* Optional shadow for depth */
}
.login-h1{
    color:#f47105;
    font-size: 2rem;
    font-family: cursive;
    font-weight: bold;
    
}
.btn-secondary{
    background-color: black;
    border:none;
}
.form-control{
    width: 400px;
    height: 50px;
    color:white;
}
.btn-secondary:hover{
    background-color: black;
}